.Footer{
    display: flex;
    background-color: #141422;
    align-content: center;
    justify-content: space-between;
    padding: 1.5vw;
    height: 30vh;
    width: 100%;
    overflow-x: hidden;
    opacity: 0.9;
}

.Footer_Left{
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}


.Footer_Right{
    color: antiquewhite;
    font-family: 'Roboto', sans-serif;
}

.Footer_Icons{
    display: flex;
    gap: 2vw;
}




@media screen and (max-width:480px) {
    .Footer{
        display: block;
        text-align: center;
    }
    .Footer_Left{
        font-size: 3vw;
    }
    .Footer_Right{
        margin-top: 15px;
        font-size: 3vw;
    }

    .Footer_Icons{
        display: flex;
        justify-content: center;
        gap: 10vw;
    }
    
}

@media screen and (max-width:767px) and (min-width:482px){
    .Footer{
        display: block;
        text-align: center;
    }
    .Footer_Left{
        font-size: 2.5vw;
        word-spacing: 2.5px;
    }
    .Footer_Right{
        margin-top: 15px;
        font-size: 2.5vw;
    }

    .Footer_Icons{
        display: flex;
        justify-content: center;
        gap: 10vw;
    }
    
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .Footer{
        display: block;
        text-align: center;
        overflow-y: hidden;
    }
    .Footer_Left{
        font-size: 2vw;
    }
    .Footer_Right{
        margin-top: 15px;
        font-size: 2vw;
    }

    .Footer_Icons{
        display: flex;
        justify-content: center;
        gap: 10vw;
    }
   
}