label{
    color:#003049;
    margin-bottom: 0.5rem;
}
form{ 
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin:6vh auto;
    max-width: 600px;
    background: #f7dea5;
    border-radius: 2%;

}
form input, form textarea{
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.1);
    color:#55585a;
}

.btn{
    background-color: #0066ff;
    color:rgb(253, 253, 253);
    height: 8vh;
    font-size: 1.2rem;
    border: none;
}

.btn:hover{
    background-color: #023e8a;
}

.check{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}