.landingContainer{
    width: 100%;
    height: 90vh;
    overflow: hidden;
    position: relative;
    padding: 20vw;
}

.landingContainer::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 96%;
    background: #48a3d4;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) translateY(18px) rotate(2deg);
}

.landingContainer::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: linear-gradient( to right, rgba(16, 0, 22, 0.6),#141422 ), url(https://images.unsplash.com/photo-1626968361222-291e74711449?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center top no-repeat;
    background-size: cover;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}

.landingContainer .LandingContent{
    color:rgb(255, 230, 0);
    font-size: 6vw;
    font-weight: 600;
    position: absolute;
    top: 45vh;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: 1vw;
    left: 20.5vw;
    animation: welcomeAnim2 8s forwards;
}

.landingContainer h2{
    color: whitesmoke;
    font-size: 4vw;
    position: absolute;
    top: 35vh;
    left: 18vw;
    z-index: 1;
    animation: welcomeAnim 8s forwards;
}

@keyframes welcomeAnim {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}


@keyframes welcomeAnim2 {
    0%{
        color: rgb(225, 154, 23);
        transform: translate(-5vw);
        opacity: 0;
    }
    100%{
        transform: translate(0.5vw);
        opacity: 1;
    }
}


@media screen and (max-width:480px) {
    .landingContainer{
        width: 100%;
        height: 70vh;
        overflow: hidden;
        position: relative;
        padding: 20vw;
    }
    .landingContainer .LandingContent{
        top: 25vh;
    }
    .landingContainer h2{
        top: 20vh;
    }
}

@media screen and (max-width:767px) and (min-width:482px) {
    .landingContainer{
        width: 100%;
        height: 70vh;
        overflow: hidden;
        position: relative;
        padding: 20vw;
    }
    .landingContainer .LandingContent{
        top: 25vh;
    }
    .landingContainer h2{
        top: 20vh;
    }
}

@media screen and (max-width:1024px) and (min-width:769px) {
    .landingContainer{
        width: 100%;
        height: 70vh;
        overflow: hidden;
        position: relative;
        padding: 20vw;
    }
    .landingContainer .LandingContent{
        top: 25vh;
    }
    .landingContainer h2{
        top: 20vh;
    }
}

