.ProfileCard img{
    border: 4px solid rgb(255, 187, 0);
    border-radius: 50%;
    box-shadow: 8px black;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 8px 0px 8px 0px;
}

.ProfileContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.ProfileCard img:hover{
    transition: 1s;
    transform: scale(1.04);
}

.Top{
    height: 350px;
    width: 350px;
}

.Middle{
    height: 250px;
    width: 250px;
}

.Bottom{
    height: 170px;
    width: 170px;

}

.Image img{
    width: 100%;
    height: 100%;
}

.Details{
    text-align: center;
}

.Name{
    font-size: larger;
    font-weight: bolder;
    display: block;
}

.Designation{
    font-size: large;
}

@media screen and (max-width:480px) {
    .Top{
        width: 150px;
        height: 150px;
    }
    .Middle{
        width: 135px;
        height: 135px;
    }
    .Bottom{
        width: 100px;
        height:100px;
    }

    .ProfileCard img:hover{
        transform: none;
    }

    .Name{
        font-size: medium;
        font-weight: bold;
        display: block;
    }

    .Designation{
        font-size: small;
    } 
}

@media screen and (max-width:767px) and(min-width:482px) {
    .Top{
        width: 300px;
        height: 300px;
    }
    .Middle{
        width: 240px;
        height: 240px;
    }
    .Bottom{
        width: 150px;
        height:150px;
    }

    .ProfileCard img:hover{
        transform: none;
    }

    .Name{
        font-size: medium;
        font-weight: bold;
        display: block;
    }

    .Designation{
        font-size: small;
    }
}


    @media screen and (max-width:1024px) and (min-width:769px) {
        .Top{
            width: 400px;
            height: 400px;
        }
        .Middle{
            width: 300px;
            height: 300px;
        }
        .Bottom{
            width: 200px;
            height:200px;
        }
    
    
        .Name{
            font-size: large;
            font-weight: bold;
            display: block;
        }
    
        .Designation{
            font-size: medium;
        }
    }