.downbtn {
    color: white;
    font-size: 1vw;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    border: none;
    cursor: pointer;
  }

  .downbtn:hover{
    color:rgb(16, 95, 205);
  }

  @media screen and (max-width:480px){
    .downbtn{
      font-size: 3vw;
    }
  }
  
  @media screen and (max-width:767px) and (min-width:482px){
    .downbtn{
      font-size: 2.5vw;
    }
  }
  
  
  @media screen and (max-width:1024px) and (min-width:769px){
    .downbtn{
      font-size: 2vw;
    } 
  }